body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.75);
}

nav {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 99%;
    height: 50px;
}

.footer {
    color: #70757a;
}

#mail, #carbon, #privacy {
    margin-left: auto;
}

a {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

svg {
    cursor: pointer;
    margin-left: 5px;
}

#apps {
    border: 8px solid white;
    border-radius: 50%;
}

#apps:hover {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
}

.account {
    border-radius: 50%;
    background-color: blue;
    height: 30px;
    width: 30px;
    border: 2px solid red;
}

img {
    display: block;
    margin: 250px auto 35px auto;
}

input {
    display: flex;
    flex: auto;
    font-size: 14px;
    color: #2b2b2b;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.022);
    border-radius: 3px;
    margin: 0 10px;
}

#buttons {
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin: 35px;
}

.search {
    display: flex;
    flex: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    padding: 5px;
    max-width: 600px;
    margin:auto;
    height: 34px;
}

.search:hover, .search:focus-within {
    box-shadow: 0 1px 5px 3px rgb(0, 0, 0, 0.05);
}

button:hover {
    box-shadow: 0 0 1px 1px rgb(0, 0, 0, 0.2);
}

#search-icon {
    color: rgba(0, 0, 0, 0.30);
    margin: auto 10px auto 10px;
    user-select: none;
}

#clear-icon {
    color: rgba(0, 0, 0, 0.50);
    margin: auto 10px auto 10px;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
}